#gato-main h1{
	text-align: center;

}

#gato-main .row-fluid{
	padding-left: 200px;
}

#gato-main .col-md-4{
	padding-top: 40px;
	padding-bottom: 40px;
	border-color: black;
	border-style: solid;


}

.hover-red-col{
	background-color: #FA5858;
	cursor: pointer;
	}
.hover-green-col{
	background-color: #01DF3A;
	cursor: pointer;
	}

.rojo{
	color:#FE2E2E;
	
}

.verde{
	color:#01DF74;
	
}

.green-background{
	background-color: green;
}

.red-background{
	background-color: red;
}